.column{
  float: left;
  width: 300px;
}

.header{
  text-align: center;
}
.content{
  text-align: justify;
  font-size: 12px;
  padding-bottom: 30px;
}

.center{
  text-align: center;
}

ul{
  text-align: center;
  list-style-position: inside;
}
