
.header1{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(132, 132, 168);
  
}

.sidebar{
  float: right;
  background-color: yellow;

}

.content{
  text-align: justify;
  font-size: 12px;
  padding-bottom: 5px;
}

.center{
  text-align: center;
  color: rgb(132, 132, 168);
}

.size {
  text-align: center;
  font-size: 12px;
}

ul{
  text-align: center;
  list-style-position: inside;
}

.border {
  margin: 20px;
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(244, 247, 250);
  box-sizing: border-box;
}

.colors{
  color: red;
}

.center1{
  text-align: center;
  text-decoration: underline;
}

.style1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.images{
  border: 2px solid black;
}

.bold{
  color: red;
}